# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumbPy
3. MatPlotLib

|Data Science Tools|
|------------------|
| JupyterLab       |
| Google Colab     |
| Visual Studio    |

# Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
r = 4
area = 3.14 * r ** 2
print("Area = ", area)

Area =  50.24

This a simple arithmetic expression to mutiply then add integers

In [22]:
result = (3*4)+5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [25]:
hours = 200 / 60
print(hours , " hours")

3.3333333333333335  hours

***Objectives:

Popular languages for Data Science
- Python
- R 
- Julia

## Author
 Anitha Irene